.container {
  position: absolute;
  top: 5vh;
  background-color: hsl(210deg 29% 97%);
  height: 90vh;
  width: 60vh;
  border-radius: 1vh;
  box-shadow: 0 0 5px 0 hsl(0deg 0% 30%);
  border: 2px solid hsl(226deg 47% 85%);
}

.userListHeader {
  border-radius: 1vh 1vh 0 0;
  background-color: hsl(216deg 33% 97%);
  width: 60vh;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Fredoka", sans-serif;
  font-size: 6vh;
}

.userTitle {
  margin-top: 0.5vh;
  margin-bottom: 0vh;
}

.logoutBar {
  width: 60vh;
  text-align: start;
}

.logoutBtn {
  padding: 0.5vh 2vh;
  border: 0px;

  background-color: hsl(216deg 33% 97%);
  color: #1c284e;
  font-family: "Fredoka", sans-serif;
  font-size: 3vh;
}

.logoutBtn:hover {
  background-color: #1c284e;
  color: hsl(216deg 33% 97%);
}

.userList {
  overflow: scroll;
  height: 70vh;
  background-color: #1c284e;
}

.userBox {
  border: 0.25vh solid #5f5e5f;
  border-radius: 1vh;
  margin-bottom: 1vh;
  background-color: hsl(216deg 33% 97%);
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

.chatBtn {
  border: none;
  background: #f5f7fa;
  width: 60vh;
  border-radius: 1vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatBtn:hover {
  color: hsl(216deg 33% 97%);
  background-color: #1c284e;
}

.img {
  height: 7vh;
  width: 7vh;
  border-radius: 5vh;
}

.userSide {
  margin-left: 1vh;
  width: 50vh;
  height: 10vh;
  font-size: 4vh;
  font-family: "Fredoka", serif;
}

.name {
  text-align: start;
}

.chat {
  text-align: start;
  font-size: 2vh;
}

.userFooter {
  height: 10vh;
  width: 60vh;
  background-color: hsl(216deg 33% 97%);
  border-radius: 1vh;
}

.line {
  background-color: #5f5e5f;
  height: 1vh;
  margin-bottom: 0.5vh;
}
